# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html
# http://www.mysqlperformanceblog.com/2006/09/29/what-to-tune-in-mysql-server-after-installation/
# http://www.mysqlperformanceblog.com/2007/11/03/choosing-innodb_buffer_pool_size/
# http://www.mysqlperformanceblog.com/2007/11/01/innodb-performance-optimization-basics/

[mysqld]
# skip-slave-start

# most likely to change...

# slave replication stuff
relay-log           = mn-mysql2b-relay-bin
server-id           = 35555
replicate-wild-ignore-table=broker_history.%
replicate-wild-ignore-table=ic_history.%


# master replication stuff.
binlog_format       = row
log_bin             = mn-mysql2b-bin
log-slave-updates   = on
log-bin             = /var/lib/mysql/binlogs
expire_logs_days    = 1

###################################
# MyISAM stuff
###################################
# http://www.mysqlperformanceblog.com/2007/09/17/mysql-what-read_buffer_size-value-is-optimal/
read_buffer_size = 2M
read_rnd_buffer_size = 12M
myisam_sort_buffer_size = 256M
thread_cache_size = 12
join_buffer_size = 4M
thread_concurrency = 0 # specific to solaris
###################################

read_rnd_buffer_size = 12M
sort_buffer_size = 12M

#innodb_buffer_pool_size = 30G
#key_buffer_size = 10G
innodb_buffer_pool_size = 256M
key_buffer_size = 256M

innodb_table_locks=0
autocommit=1

innodb_data_home_dir = /var/lib/mysql/

innodb_log_group_home_dir = /var/lib/mysql/

innodb_file_per_table=1

max_allowed_packet = 100M

ft_min_word_len = 3

innodb_force_recovery = 0

# Avoid double buffering
innodb_flush_method = O_DIRECT

# infinite threads - http://www.mysqlperformanceblog.com/2011/12/02/kernel_mutex-problem-cont-or-triple-your-throughput/
innodb_thread_concurrency=8

innodb_log_files_in_group=6
innodb_log_file_size=128M
innodb_log_buffer_size=16M
# breaks ACID, can loose 1-2 seconds of data on OS crash, but much greater performance
innodb_flush_log_at_trx_commit=0

# locks that did not match the scan are released after the STATEMENT completes.
# prevents gap locks (write locks) on the table
transaction-isolation=READ-COMMITTED

max_connections=3000
# Check it however after a while and see if it is well used
query_cache_size=50M
query_cache_limit = 10M
skip-name-resolve=1

# Size this cache to keep most tables open since opening tables can be expensive.
# The optimum value for table_cache is directly related to the number of tables
# that need to be opened simultaneously in order to perform multiple-table joins.
# The table_cache value should be no less than the number of concurrent connections
# times the largest number tables involved in any one join.
# You should check the Open_tables status variable to see if it is large compared to table_cache
table_open_cache=10000

tmp_table_size=512M
max_heap_table_size=512M
thread_cache=16

secure-auth=0
tmpdir = /var/lib/mysql/tmp/tmp

# logging
log-queries-not-using-indexes = 1
long_query_time = 5
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow_query_log


[mysqldump]
quick
max_allowed_packet = 8M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
secure-auth=0
